[submodule "mods/heads"]
	path = mods/heads
	url = https://github.com/HybridDog/heads.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://codeberg.org/tenplus1/protector.git
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://codeberg.org/tenplus1/mobs_redo.git
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://codeberg.org/tenplus1/mobs_animal.git
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = https://codeberg.org/tenplus1/mobs_monster.git
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = https://codeberg.org/tenplus1/mobs_npc.git
[submodule "mods/pbj_pup"]
	path = mods/pbj_pup
	url = https://codeberg.org/tenplus1/pbj_pup.git
[submodule "mods/mob_horse"]
	path = mods/mob_horse
	url = https://codeberg.org/tenplus1/mob_horse.git
[submodule "mods/mobs_water"]
	path = mods/mobs_water
	url = https://codeberg.org/tenplus1/mobs_water
[submodule "mods/mobs_sky"]
	path = mods/mobs_sky
	url = https://codeberg.org/tenplus1/mobs_sky.git
[submodule "mods/volumetric-lighting"]
	path = mods/volumetric-lighting
	url = https://github.com/rollerozxa/volumetric-lighting.git
