[submodule "mods/heads"]
	path = mods/heads
	url = https://github.com/HybridDog/heads.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/stujones11/minetest-3d_armor.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://github.com/tenplus1/protector.git
[submodule "mods/dungeon_loot"]
	path = mods/dungeon_loot
	url = https://github.com/BlockMen/dungeon_loot.git
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://github.com/tenplus1/mobs_redo.git
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://github.com/tenplus1/mobs_animal.git
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = https://github.com/tenplus1/mobs_monster.git
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = https://github.com/tenplus1/mobs_npc.git
[submodule "mods/pbj_pup"]
	path = mods/pbj_pup
	url = https://github.com/tenplus1/pbj_pup.git
